#     Filename: counter.pcf
#  Description: Physical constraints file (pcf) for BeagleWire (iCE40HX4K TQ144)
#      License: GPLv2
#
#       Author: Copyright (C) Patryk Mezydlo
#         Date: 2017-04-18

# USER CLOCK
set_io CLK_100M 61

# LED
set_io LED[0] 28
set_io LED[1] 29
set_io LED[2] 31
set_io LED[3] 32
