#     Filename: beaglewire_pinmap
#  Description: Physical constraints file (pcf) for BeagleWire (iCE40HX4K TQ144)
#      License: GPLv2
#
#       Author: Copyright (C) Patryk Mezydlo
#         Date: 2017-04-18


# user clock
set_io clk_100m 61

# LED
set_io led[0] 28
set_io led[1] 29
set_io led[2] 31
set_io led[3] 32

# button
set_io btn[0] 25
set_io btn[1] 26

# dip-switch
set_io sw[0] 33
set_io sw[1] 34

# pmod
set_io pmod1[0] 37 # PMOD1 B1
set_io pmod1[1] 39 # PMOD1 B2
set_io pmod1[2] 42 # PMOD1 B3
set_io pmod1[3] 44 # PMOD1 B4
set_io pmod1[4] 38 # PMOD1 A1
set_io pmod1[5] 41 # PMOD1 A2
set_io pmod1[6] 43 # PMOD1 A3
set_io pmod1[7] 45 # PMOD1 A4

set_io pmod2[0] 47 # PMOD2 B1
set_io pmod2[1] 49 # PMOD2 B2
set_io pmod2[2] 55 # PMOD2 B3
set_io pmod2[3] 60 # PMOD2 B4
set_io pmod2[4] 48 # PMOD2 A1
set_io pmod2[5] 52 # PMOD2 A2
set_io pmod2[6] 56 # PMOD2 A3
set_io pmod2[7] 62 # PMOD2 A4

set_io pmod3[0] 107 # PMOD3 B1
set_io pmod3[1] 112 # PMOD3 B2
set_io pmod3[2] 114 # PMOD3 B3
set_io pmod3[3] 129 # PMOD3 B4
set_io pmod3[4] 110 # PMOD3 A1
set_io pmod3[5] 113 # PMOD3 A2
set_io pmod3[6] 115 # PMOD3 A3
set_io pmod3[7] 130 # PMOD3 A4

set_io pmod4[0] 7  # PMOD4 B1
set_io pmod4[1] 9  # PMOD4 B2
set_io pmod4[2] 15 # PMOD4 B3
set_io pmod4[3] 12 # PMOD4 B4
set_io pmod4[4] 4  # PMOD4 A1
set_io pmod4[5] 8  # PMOD4 A2
set_io pmod4[6] 10 # PMOD4 A3
set_io pmod4[7] 11 # PMOD4 A4

# grove
set_io gr1_sda 73
set_io gr1_scl 74

set_io gr2_sda 75
set_io gr2_scl 76

set_io gr3_io1 104
set_io gr3_io2 102

set_io gr4_io1 106
set_io gr4_io2 105

#sdram
set_io sdram_addr[0] 118
set_io sdram_addr[1] 117
set_io sdram_addr[2] 116
set_io sdram_addr[3] 101
set_io sdram_addr[4] 81
set_io sdram_addr[5] 83
set_io sdram_addr[6] 90
set_io sdram_addr[7] 91
set_io sdram_addr[8] 82
set_io sdram_addr[9] 84
set_io sdram_addr[10] 119
set_io sdram_addr[11] 85
set_io sdram_addr[12] 87

set_io sdram_data[0] 96
set_io sdram_data[1] 97
set_io sdram_data[2] 98
set_io sdram_data[3] 99
set_io sdram_data[4] 95
set_io sdram_data[5] 80
set_io sdram_data[6] 79
set_io sdram_data[7] 78

set_io sdram_bank[0] 121
set_io sdram_bank[1] 120

set_io sdram_clk 93
set_io sdram_cke 88
set_io sdram_we 128
set_io sdram_cs 122
set_io sdram_dqm 94
set_io sdram_ras 124
set_io sdram_cas 125

#gpmc
set_io gpmc_ad[0] 134
set_io gpmc_ad[1] 136
set_io gpmc_ad[2] 21
set_io gpmc_ad[3] 22
set_io gpmc_ad[4] 135
set_io gpmc_ad[5] 138
set_io gpmc_ad[6] 23
set_io gpmc_ad[7] 24
set_io gpmc_ad[8] 139
set_io gpmc_ad[9] 2
set_io gpmc_ad[10] 1
set_io gpmc_ad[11] 141
set_io gpmc_ad[12] 16
set_io gpmc_ad[13] 3
set_io gpmc_ad[14] 144
set_io gpmc_ad[15] 143

set_io gpmc_advn 19
set_io gpmc_csn1 137 
set_io gpmc_clk 142
set_io gpmc_wein 18
set_io gpmc_oen 20
# bb and fpga irq line
set_io irq_arm_to_fpga 64
set_io irq_fpga_to_arm 63
